{% extends 'network/layout.html' %}


{% block body %}

<div class="border post-form container ">
    <form class=" mx-auto  " action="">
        <div class="border">
            <textarea class=" py-2 d-block w-100 " name="" id="" rows="5"  placeholder="describe.." >
            </textarea>
        </div>
       
        <div class="d-flex justify-content-end">
            <input class="btn btn-primary " type="submit" value="Post">
            
        </div>
      
    </form>
</div>


{% endblock body %}