{% extends 'network/layout.html' %}


{% block body %}

<div class=" post-form container ">
    <form class="   " action="">
        <a class="border" href=""><i class="bi bi-person-fill"></i><strong>@{{ user.username }}</strong></a>
        <div class="">
            <textarea class=" post-text-area border d-block w-100 " name="" id="" rows="4" placeholder="whats on your mind ..." ></textarea>
        </div>
       
        <div class="d-flex justify-content-end">
            <input class="btn btn-primary " type="submit" value="Post">
            
        </div>
      
        
    </form>
</div>

{% comment %} <div class="overlay "></div> {% endcomment %}


{% endblock body %}