{% extends 'network/layout.html' %}


{% block body %}

<div class=" post-form container ">

    {% if error %}
        {{error}}
    {% endif %}
    <form class=" " action="{% url 'new_post' %}" method="post">
        {% csrf_token %}
        <a class="border" href=""><i class="bi bi-person-fill"></i><strong class ="">@{{ user.username }}</strong></a>
        <div class="">
            <textarea class=" post-text-area border d-block w-100 " name="content" id="" rows="4" placeholder="whats on your mind ..." autofocus ></textarea>
        </div>
       
        <div class="d-flex justify-content-end">
            <input class="btn blue-bg-color-tone  btn-primary " type="submit" value="Post">
            
        </div>
      
        
    </form>
</div>

{% comment %} <div class="overlay "></div> {% endcomment %}


{% endblock body %}