{% extends "network/layout.html" %}

{% block body %}

    

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div class="d-flex justify-content-around container">

        <div class=" form-register ">
            <h2 class="posts">Register</h2>
            <form action="{% url 'register' %}" method="post" class="" >
                {% csrf_token %}
                <div class="  form-group">
                    <input class="  form-control" autofocus type="text" name="username" placeholder="Username">
                </div>
                <div class="  form-group">
                    <input class="    form-control" type="email" name="email" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <input class=" form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input class="   form-control" type="password" name="confirmation" placeholder="Confirm Password">
                </div>
                <input class="btn blue-bg-color-tone btn-primary" type="submit" value="Register">
            </form>
        
            Already have an account? <a href="{% url 'login' %}">Log In here.</a>
            
        </div>

        {% load static %}
        <div class="   d-none d-lg-block image-reg mt-4">
            <img  clas="img-fluid" src="{% static 'network/images/reg4.jpeg' %}" alt="image of a cute cartoon dog">
        </div>


    </div>
   

{% endblock %}