
html {
    scroll-behavior: smooth;
  }

.body{
    position: relative;
    
   
}

nav{
    background-color: #F9F6EE;
}


.bodycon{
    background-color: #FAF9F6;
}


  .post-form{
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
   
  
    background-color: white;
    /* padding: 2rem; */
    border-radius: 5px;
    /* box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3); */
    z-index: 10;

  }

  .blue-color-tone{
    color: rgb(60, 91, 205);
  }

  .blue-bg-color-tone{
    background-color:rgb(60, 91, 205); ;
  }

  .hidden{
    display: none;
}

a:hover{
    text-decoration: none;
}

.posts{
    font-family:'Times New Roman', Times, serif;
}

.post-text-area{
    border: none;
}

textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

.register{
    border: none;
    background-color:#ffffff;
    resize: none;
    outline: none;
}

.date{
    margin-top:-15px;
    font-size: 15px;
}



.post-content{
    font-size: 19px;
}



.nav-img{
    height:22px;
}



.image-reg{
    width: 40%;
  
}




@media only screen and (max-width: 600px) {
    .form-register {
      width: 100%;
    }
  }

  @media only screen and (min-width: 600px) {
    .form-register {
      width: 50%;
    }
  }


@media only screen and (min-width: 600px) {
    .form-login {
      width: 50%;
    }
  }